{% extends "base.html" %}
{% load static %}
{% block title %}Faisal's Portfolio | Home{% endblock %}
{% block content %}
<div class="jumbotron border-bottom text-center">
    <div class="container">
        <img class=" border bg-white p1 border-light-gray circle square-100 lazyloaded"
            src="{% static 'images/faisal.jpg' %}"><br><br>
        <h5>Mohamed Faisal</h5>
        <h4>python-django-developer</h4>
        <a href="mailto:faisal.programmer369@gmail.com" class="btn btn-primary">Hire</a>
    </div>
</div>
<hr>
<h5 class="text-center">Projects</h5>
<hr><br>

{% for project in projects %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img height="250px" width="500px" src="{% static 'images/faisal.jpg' %}" class="card-img-top" alt="...">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3>{{ project.title }}</h3>
                    <p class="card-text">{{ project.summary }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ project.url }}"><button type="button" class="btn btn-primary">View</button></a>
                        </div>
                        <small class="text-muted">Github : <a href="#">github</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}